/notes.txt


python3.11 -m pip install pyperclip
python3.11 -m pip install pyinputplus
python3.11 -m pip install send2trash
python3.11 -m pip install requests
python3.11 -m pip install beautifulsoup4
python3.11 -m pip install lxml
python3.11 -m pip install selenium
python3.11 -m pip install openpyxl==2.6.2
python3.11 -m pip install ezsheets
python3.11 -m pip install PyPDF2==1.26.0
python3.11 -m pip install python-docx==0.8.10
python3.11 -m pip install pywin32==224
python3.11 -m pip install --upgrade ezgmail
python3.11 -m pip install mapclient==2.1.0
python3.11 -m pip install pyzmail36== 1.0.4
python3.11 -m pip install --upgrade twilio
python3.11 -m pip install pillow==6.0.0
python3.11 -m pip install pyautogui


git add --all
git commit -m "initial commit"
git push